---
import { Icon } from 'astro-icon/components';
import YoutubeEmbed from '@components/YouTubeEmbed.astro';
import type { AboutFeature } from '../../types/homepage.js';

export interface Props {
  features: AboutFeature[];
  youtubeId: string;
}

const { features, youtubeId } = Astro.props;
---

<section
  class="shadow-tklab-md border-tklab-secondary-200 mt-12 rounded-lg border bg-white py-10"
  id="aboutUs"
>
  <div class="mx-auto w-full p-10 text-center">
    <h1 class="text-tklab-secondary-900 text-3xl font-bold">研究の特徴</h1>
    <p class="text-tklab-secondary-600 mt-4 text-lg">
      多角的なアプローチで安全性の向上を追求
    </p>
  </div>
  <div class="mx-8">
    <ul class="mx-auto grid max-w-6xl grid-cols-1 gap-8 md:grid-cols-2">
      {
        features.map((feature) => (
          <li>
            <div class="bg-tklab-secondary-50 shadow-tklab-sm hover:shadow-tklab-md border-tklab-secondary-100 h-64 rounded-lg border py-8 px-4 md:px-16 transition-shadow duration-200">
              <Icon
                name={feature.icon}
                class="text-tklab-secondary-500 mb-4 h-24 w-full"
              />
              <p class="text-tklab-secondary-900 text-center text-xl font-semibold">
                {feature.title}
              </p>
              <p class="text-tklab-secondary-600 mx-4 mt-2 text-center text-base">
                {feature.description}
              </p>
            </div>
          </li>
        ))
      }
    </ul>
  </div>

  <!-- YouTube セクション -->
  <div class="relative m-24 h-fit max-w-4xl lg:mx-auto">
    <YoutubeEmbed id={youtubeId} />
  </div>
</section>
