---
import YoutubeEmbed from '@components/YouTubeEmbed.astro';
import { Icon } from 'astro-icon/components';
import type { AboutFeature } from '../../types/homepage.js';

export interface Props {
  features: AboutFeature[];
  youtubeId: string;
}

const { features, youtubeId } = Astro.props;
---

<section
  class="mt-12 rounded-lg border border-tklab-secondary-200 bg-white py-10 shadow-tklab-md"
  id="aboutUs"
>
  <div class="mx-auto w-full p-10 text-center">
    <h1 class="text-3xl font-bold text-tklab-secondary-900">研究の特徴</h1>
    <p class="mt-4 text-lg text-tklab-secondary-600">
      多角的なアプローチで安全性の向上を追求
    </p>
  </div>
  <div class="mx-8">
    <ul class="mx-auto grid max-w-6xl grid-cols-1 gap-8 md:grid-cols-2">
      {
        features.map((feature) => (
          <li>
            <div class="h-64 rounded-lg border border-tklab-secondary-100 bg-tklab-secondary-50 px-4 py-8 shadow-tklab-sm transition-shadow duration-200 hover:shadow-tklab-md md:px-16">
              <Icon
                name={feature.icon}
                class="mb-4 h-24 w-full text-tklab-secondary-500"
              />
              <p class="text-center text-xl font-semibold text-tklab-secondary-900">
                {feature.title}
              </p>
              <p class="mx-4 mt-2 text-center text-base text-tklab-secondary-600">
                {feature.description}
              </p>
            </div>
          </li>
        ))
      }
    </ul>
  </div>

  <!-- YouTube セクション -->
  <div class="relative m-24 h-fit max-w-4xl lg:mx-auto">
    <YoutubeEmbed id={youtubeId} />
  </div>
</section>
