---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const footer_links = [
  {
    title: t('footer.research'),
    links: [
      {
        title: t('footer.research.content'),
        url: '/research/',
      },
    ],
  },
  {
    title: t('footer.member'),
    links: [{ title: t('footer.member.list'), url: '/member/' }],
  },
  {
    title: t('footer.career'),
    links: [
      {
        title: t('footer.career.alumni'),
        url: '/alumni/',
      },
    ],
  },
  {
    title: t('footer.news'),
    links: [
      {
        title: t('footer.news.articles'),
        url: '/blogs/',
      },
      {
        title: t('footer.news.list'),
        url: '/blogs/news/',
      },
      {
        title: t('footer.news.dev'),
        url: '/blogs/dev/',
      },
    ],
  },
  {
    title: t('footer.contact'),
    links: [
      {
        title: t('footer.contact.access'),
        url: '/contact/#access',
      },
      {
        title: t('footer.contact.inquiry'),
        url: '/contact/#form',
      },
      {
        title: t('footer.contact.prospective'),
        url: '/blogs/info/how_to_join/',
      },
    ],
  },
];
---

<footer>
  <div
    class="footer border-t border-tklab-secondary-200 bg-tklab-secondary-50 p-10 text-tklab-secondary-700"
  >
    {
      footer_links.map((footer_link) => (
        <nav class="mt-4">
          <p class="text-lg font-bold text-tklab-secondary-900">
            {footer_link.title}
          </p>
          <ul class="list-none">
            {footer_link.links.map((link) => (
              <li class="mt-2">
                <a href={link.url}>
                  <div class="text-base underline transition-colors duration-200 hover:text-tklab-primary-600">
                    {link.title}
                  </div>
                </a>
              </li>
            ))}
          </ul>
        </nav>
      ))
    }
  </div>
  <div
    class="footer footer-center border-t border-tklab-secondary-300 bg-tklab-secondary-100 p-10 text-tklab-secondary-700"
  >
    <div>
      <img src="/favicon.ico" alt="研究室ロゴ" class="h-12 w-12" />
      <p class="font-bold text-tklab-secondary-900">
        {t('footer.labName')} <br />{t('footer.affiliation1')}<br />
        {t('footer.affiliation2')} <br class="md:hidden" />
        {t('footer.affiliation3')} <br />
        {t('footer.affiliation4')} <br class="md:hidden" />
        {t('footer.affiliation5')}
      </p>
      <p class="text-tklab-secondary-600">
        {t('footer.copyright')}
      </p>
    </div>
  </div>
</footer>
