---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const nav_links = [
  {
    name: t('navbar.research'),
    url: '/research/',
  },
  {
    name: t('navbar.members'),
    url: '/member/',
  },
  {
    name: t('navbar.alumni'),
    url: '/alumni/',
  },
  {
    name: t('navbar.blog'),
    url: '/blogs/',
  },
  {
    name: t('navbar.contact'),
    url: '/contact/',
  },
];
---

<nav class="bg-tklab-accent-200">
  <div class="navbar mx-auto max-w-7xl">
    <div class="navbar-start">
      <div class="flex items-center p-5">
        <img
          src="/Logo2020_black.png"
          id="header-Logo-image"
          class="h-10 w-10"
          alt="ロゴ"
        />
        <a
          href="/"
          class="ml-3 text-xl text-tklab-secondary-900 transition-colors duration-200 lg:text-3xl"
          >高橋・狩川研究室</a
        >
      </div>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        {
          nav_links.map((link) => (
            <li class="mr-5 text-lg">
              <a
                href={link.url}
                class="text-tklab-secondary-800 transition-colors duration-200 hover:underline"
              >
                {link.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="navbar-end lg:hidden">
      <div class="dropdown dropdown-end">
        <label tabindex={0} class="btn btn-ghost text-tklab-secondary-700">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-8 w-8"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"></path>
          </svg>
        </label>
        <ul
          tabindex={0}
          class="menu dropdown-content z-[1] mt-6 w-80 rounded-lg bg-tklab-secondary-50 p-4 shadow-tklab-lg"
        >
          {
            nav_links.map((link) => (
              <li>
                <a
                  href={link.url}
                  class="p-4 text-xl text-tklab-secondary-700 transition-colors duration-200 hover:bg-tklab-primary-50 hover:text-tklab-primary-600"
                >
                  {link.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</nav>

<style>
  #header-Logo-image.rotate {
    animation: rotateAnimation 2s linear infinite;
    /* 無限に繰り返す */
  }
</style>
