---
import { getCollection } from 'astro:content';
import BlogPostGrid from '@components/ui/BlogPostGrid.astro';
import Layout from '@layouts/Layout.astro';

// devのタグがついたものを取り出し、Dateに基づいてソート
const dev_posts = await getCollection('blog', ({ data }) => {
  return data.tag.includes('dev');
}).then((posts) =>
  posts
    .filter((post) => new Date(post.data.date) <= new Date()) // 未来の日付を除外
    .sort(
      (a, b) =>
        new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
    )
);
---

<Layout title="更新履歴">
  <div class="container mx-auto my-4">
    <div class="mb-12 space-y-2 text-center">
      <h1 class="text-3xl font-bold text-gray-800 md:text-4xl">更新履歴</h1>
      <p class="text-gray-600 lg:mx-auto lg:w-6/12">
        サイトの更新情報や開発に関する情報をお届けします。
      </p>
    </div>

    <!-- 更新履歴一覧 -->
    <section>
      <BlogPostGrid posts={dev_posts} />
    </section>
  </div>
</Layout>
