---
import { getCollection } from 'astro:content';
import BlogPostGrid from '@components/ui/BlogPostGrid.astro';
import Layout from '@layouts/Layout.astro';

// newsのタグがついたものを取り出し、Dateに基づいてソート
const news_posts = await getCollection('blog', ({ data }) => {
  return data.tag.includes('news');
}).then((posts) =>
  posts
    .filter((post) => new Date(post.data.date) <= new Date()) // 未来の日付を除外
    .sort(
      (a, b) =>
        new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
    )
);
---

<Layout title="ニュース一覧">
  <div class="container mx-auto my-4">
    <div class="mb-12 space-y-2 text-center">
      <h1 class="text-3xl font-bold text-gray-800 md:text-4xl">
        高橋・狩川研究室のニュース
      </h1>
      <p class="text-gray-600 lg:mx-auto lg:w-6/12">
        研究室の最新ニュースや重要なお知らせをお届けします。
      </p>
    </div>

    <!-- ニュース一覧 -->
    <section>
      <BlogPostGrid posts={news_posts} />
    </section>
  </div>
</Layout>
